/* Sticky footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.panel{
  padding-bottom:0px;
}

.panel panel-default > .panel-body {
background:#f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;  
}

/* 작은글씨 정렬 */
small {
  font-weight: bold;
  display : block;
  text-align: left;
}

.navbar {
  position: relative;
  min-height: 55px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.memberImg {
  display: block;
  max-width: 100%;
  width: 120px;
  height: 150px;
}

.logoImg {
  display: block;
  max-width: 100%;
  width: 200px;
  height: 40px;
}

.aboutS2C {
  display: block;
  width: auto;
  max-height: 150px;
}

.jbnuLogo{
  max-width: 100%;
  width : auto;
}

.schoolImg {
  display: block;
  max-width: 100%;
  width: 380px;
  height: 250px;
}

.nmh {
  margin-top: 0px;
  margin-bottom: 0px;
}

.spotlight {
  color: 	#428bca;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
  }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}