/* Sticky footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.panel{
  padding-bottom:0px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
/*-------------------------------------------------- */
/* 색깔넣기 */
.clay {
  color: #DF5537;
  text-align: left;
  margin-left: 60px;
}
.olive{
  color:#DEB200;
  text-align: left;
  margin-left: 60px;
}
.lake{
  color:#37DFCD;
  text-align: left;
  margin-left: 60px;
}
.beet{
  color:#CA00DE;
  text-align: left;
  margin-left: 60px;
}
.basin{
  color:#246894;
  text-align: left;
  margin-left: 60px;
}
.java{
  color:#C4D534;
  text-align: left;
  margin-left: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;  
}

/* 작은글씨 정렬 */
small {
  font-weight: bold;
  display : block;
  text-align: right;
}

.navbar {
  position: relative;
  min-height: 55px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.memberImg {
  display: block;
  max-width: 100%;
  width: 120px;
  height: 150px;
}

.logoImg {
  display: block;
  max-width: 100%;
  width: 200px;
  height: 40px;
}

.aboutS2C {
  display: block;
  width: auto;
  max-height: 150px;
}

.nmh3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
 
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}