extends layout

block content
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner(role='listbox')
      .item.active
        img.first-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==')
        .container
          .carousel-caption
            h1 S2C Lab이 현재 개발중입니다.
            p
              | Note: If you're viewing this page via a 
              code file://
              |  URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
      .item
        img.second-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==')
        .container
          .carousel-caption
            h1 Another example headline.
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
      .item
        img.third-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==')
        .container
          .carousel-caption
            h1 One more for good measure.
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
  .container.marketing
    // Three columns of text below the carousel
    .row
      .col-lg-2
        img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h2 Heading
        p
          | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        p
          a.btn.btn-default(href='#', role='button') View details »
      // /.col-lg-4
      .col-lg-5
        h2
          | 게시판1
          a.glyphicon.glyphicon-plus.pull-right(href='/')
        hr(style='height:2px;border:none;color:#333;background-color:#333;')
        .list-group
          a.list-group-item.active(href='#')
            | contents1
          a.list-group-item(href='#') contents2
          a.list-group-item(href='#') contents3
          a.list-group-item(href='#') contents4
          a.list-group-item(href='#') contents5
          a.list-group-item(href='#') contents6
          a.list-group-item(href='#') contents7
      .col-lg-5
        h2
          | 게시판2
          a.glyphicon.glyphicon-plus.pull-right(href='/')
        hr(style='height:2px;border:none;color:#333;background-color:#333;')
        .list-group
          a.list-group-item.active(href='#')
            | contents1
          a.list-group-item(href='#') contents2
          a.list-group-item(href='#') contents3
          a.list-group-item(href='#') contents4
          a.list-group-item(href='#') contents5
          a.list-group-item(href='#') contents6
          a.list-group-item(href='#') contents7
        // /.col-lg-6
    // /.row
    // START THE FEATURETTES